In [7]:
import keyword

In [8]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [11]:
print( "Hallo , World ")

Hallo , World

In [12]:
#Print Hello World in screen
print("Hallo World")

Hallo World

In [13]:
# This is a Multiline commnet
#this is the Second line of the multiline comment
#this is the third line of the multiline commnet

print("I practiced just now how to add multiline commnets in python")

I practiced just now how to add multiline commnets in python

In [14]:
"""Another way to
write multiline commnets to 
your code in python"""

print("I just used another method to include multiline commnets in python")

I just used another method to include multiline commnets in python

# Python indentation

1. Python uses indentation rather than braces {} to define a block of code.
2. A code block starts with an the first indented line and ends with the first unindented line.
3. Generally four whitespaces are used for indentation and are preffered over tab.
4. Indentation makes the code more readable

In [17]:
# example for use of indentation in python

for i in range(10):
    print(i)
    print(i*2)

print(100) #100 will be printed as a number not belonging to the range of numbers inside the for loop.

# if the indenttion is not used correctly python will through a Indentation error.

0
0
1
2
2
4
3
6
4
8
5
10
6
12
7
14
8
16
9
18
100

In [19]:
# code block written with indentation to make the code more readble
if True:
    print("Machine Learning")
    c= "AAIC"

Machine Learning

In [20]:
#Same code can be written without indentation using delimiter a ( ; ) but it makes the code difficult to read

if True:
    print("Machine Learning"); c = "AAIC"

Machine Learning

# Python Statements

- Statements are instructions that a python interpretor can execute.
Examples: -

In [21]:
# This is a statement to declare a variable

a=10

# Multi Line Statements 
- Use 'back slash' to write a multiline statement
- Another way is to use paranthesis

In [22]:
a = 3 + 5 + \
    7 + 8 + \
    9

print(a)

32

In [23]:
  a = ( 3 + 4 +
       7 + 8)
    
print(a)

22

# Variables

- Variables are locations in the storage system to store data.
- Naming method - same as used for identifiers
- variables are not declared in python before using them. Also no need to declare the data type for the variable. 

# Difference between Variables and Identifiers

- The fundamental difference between an identifier and variable is that an identifier is a “name given to entity” in a program whereas, a variable is a “name given to memory location”, that is used to hold value, which may get modified during program execution.
 - Ex1: name given to a variable ==> int car=5;
- here,car is identifier,i.e name given to variable(storage location)
- EX2: int age;
- In this example, we create an integer variable with the name ("identified by") of "age".
- So, think of an identifier as the label that names a variable.

In [24]:
a = 10

# Variable assignment
 - use the = sign

In [25]:
a = 10
b = 5.5
c = "ML"

print(a)
print(b)
print(c)

10
5.5
ML

# Multiple assignment
- use comma to seperate each assignment

In [28]:
a, b, c = 10, 5.5, "ML"

print(a)
print(b)
print(c)

10
5.5
ML

# Multiple assignments

In [29]:
a = b = c = 10 #assign same values to multiple variables at once

print(a)
print(b)
print(c)

10
10
10

# Storage Location

In [1]:
x = 3

print(id(x))             # print the memory location address for variable x

140730824630736

In [2]:
y = 3

print(id(y))

140730824630736

- observation - x and y points to the same memory location
- if a,b lies between (-5, 256) a and b will point to same memory location
- if a,b lies outside (-5, 256) a and b will point to different memory location
- When it comes to the strings, when a same string is assigned to two different variables, then if there is a whitespace present in the string value, then those two variables point to two different locations, whereas if there are no whitespaces, these two variables will point to the same location.

In [3]:
a = 235
b = 235

id(a) == id(b) # if a,b lies between (-5, 256) a and b will point to same memory location

True

In [4]:
a = 325
b=325

id(a) == id(b) # if a,b lies outside (-5, 256) a and b will point to different memory location

False

In [5]:
a = "Welcome to ML course"
b = "Welcome to ML course"

id(a) == id(b) # String with whitspaces, a and b pointing to different memory locations

False

In [8]:
a = "WelcometoMLcourse"
b = "WelcometoMLcourse"

id(a) == id(b) # String without whitespaces, a and b pointing to same memory location

True

In [7]:
a = "Welcome"
b = "Welcome"

id(a) == id(b)

True

# Data Types

- Every value in Python has a data type.
- Since everthing in Python is an Object, data types are actually classes and variables are instances(Object) of these classes

# Numbers 

- Integers, Decimals and complex numbers falls under this category.
- They are defined as int, float and complex classes in Python.
- Use the Python type() function to know the class type of a variable 
- Use Python isinstance() function yo to check if a object belongs to a particular class

In [9]:
a = 10                        #Python implicitly assigns the data type as int based on the value assigned to variable a

print(a, "is of data type " , type(a))

10 is of data type  <class 'int'>

In [10]:
a = 2.5                       #Python implicitly changes the data type as float

print(a, "is of data type " , type(a))

2.5 is of data type  <class 'float'>

In [12]:
a = 1 + 2j                      #Python implicitly changes the data type as complex

print(a, "is a complex number ?" )
print(a, "is of data type " , type(a))
print ( isinstance(a, complex))

(1+2j) is a complex number ?
(1+2j) is of data type  <class 'complex'>
True

# Boolean

- Boolean represents the truth values of True and False

In [14]:
a = True            # a is a variable of type Boolean

print(type(a))

<class 'bool'>

# Strings

- String is a sequence of Unicode characters / a series of characters - letters, numbers and special characters
- Strings can be assigned in Python using single or double qoutes
- Multi line strings can be assigned using triple quotes 
- Strings can be indexed - also called as 'can be subscripted'
- Similar to C, the first character of a string has the index 0.

In [15]:
S = "I am a string."           # Single line string using double quotes. 

print(S)

print(type(S))

I am a string.
<class 'str'>

In [15]:
S = 'I am a string.'        # Single line string using single quotes. 

print(S)

print(type(S))

I am a string.
<class 'str'>

In [16]:
S = '''I am a multiline string.
    I can go on to write over multiple lines.
    I need more storage space then a single line string.'''        # Multi line string using triple single quotes. 

print(S)

print(type(S))

I am a multiline string.
    I can go on to write over multiple lines.
    I need more storage space then a single line string.
<class 'str'>

In [17]:
S = """I am a multiline string.
    I can go on to write over multiple lines.
    I need more storage space then a single line string."""       # Multi line string using triple double quotes. 

print(S)

print(type(S))

I am a multiline string.
    I can go on to write over multiple lines.
    I need more storage space then a single line string.
<class 'str'>

In [23]:
S = 'I am a string.'        # Single line string using single quotes. 

print(S[0])                 # print the first character in the string which is indexed as 0 --> I
print(S[1])                 # print the first character in the string which is indexed as 1 --> whitespace
print(S[2])                 # print the first character in the string which is indexed as 2 --> a and so on..
print(S[3])
print(S[4])
print(S[5])
print(S[6])
print(S[7])
print(S[8])
print(S[9])
print(S[10])
print(S[11])
print(S[12])
print(S[13])


print(S[-1])              # print the last character of the string S
print(S[-2])              # print the second last character of the string S
print(S[-3])              # print the third last character of the string S and so on..

I

a
m

a

s
t
r
i
n
g
.
.
g
n

In [26]:
S = " Hi , Welcome to my house."

print(S[len(S)-1])
print(S[len(S)-2])

.
e

In [33]:
S = " Hi , Welcome to my house."

# Slicing 

print(S[5:])
print(S[13:])
print(S[14:])
print(S[16:])

print(S[5:13])     # print all characters starting from the index 5 till indxed 9

 Welcome to my house.
 to my house.
to my house.
 my house.
 Welcome

# Python list

- List is an ordered sequence of items
- One of the most used data types in Python
- very flexible
- Each of the items in the list need not be of same data type
- To declare a list items seperated by commas inside [] is used.
- Lists are mutable, meaning items inside a list can be altered or modified

In [36]:
List_01 = ["Rahul", "Sarkale", 24, "Pune", "Engineer" ]

print(List_01)

print(List_01[0])
print(List_01[1])
print(List_01[2])
print(List_01[3])
print(List_01[-1])


List_01[2] = 28                # Value of item number 3 (index 2) changed from 24 to 28.

print(List_01)

['Rahul', 'Sarkale', 24, 'Pune', 'Engineer']
Rahul
Sarkale
24
Pune
Engineer
['Rahul', 'Sarkale', 28, 'Pune', 'Engineer']

# Python Tuples

- a Tuple is also an ordered sequence of items.
- Only difference between a List and a Tuple is - Lists are mutuable while Tuples are immutable
- If you try to alter a item inside a Tuple, you will get error : Tuple object does not support item assignment.
- To declare a Tuple use items seperated by commmas inside the () brackets.

In [39]:
Tpl_01 = ("Rahul", "Sarkale", 24, "Pune", "Engineer" )

print(Tpl_01)

print(Tpl_01[0])
print(Tpl_01[1])
print(Tpl_01[2])
print(Tpl_01[3])
print(Tpl_01[-1])


Tpl_01[2] = 28                # Will through an error if try to alter an item inside a Tuple

print(Tpl_01)

('Rahul', 'Sarkale', 24, 'Pune', 'Engineer')
Rahul
Sarkale
24
Pune
Engineer

TypeError: 'tuple' object does not support item assignment

# Python Sets

- Sets are an unordered collection of unique items
- Defined by items seperated by commas inside {} brackets
- Items inside a set not ordered.
- We can perform set operations like union, intersection etc. on two sets.
- Sets have unique items meaning it will not save duplicate items as two different items.
- We can not print individual items of a set as it is not an odereded collection. This means items inside a Set are not indexed.

In [40]:
S = {10, 20, 30, 40, 50}

print(S)

{40, 10, 50, 20, 30}

In [41]:
S = {10, 20, 20, 30, 30, 30, 40, 40, 40, 40}

print(S)

{40, 10, 20, 30}

In [43]:
S = {10,20}

print(S[0])          # will thorugh error. Individual Items inside set can not be printed.

TypeError: 'set' object is not subscriptable

# Python Dictionaries

- Dictionaries are unodered collection of Key:Value pairs
- Dictionaries are defined inside {} with each item in the form of a Key: Value pair. Keys and Values can be of any type.
-

In [46]:
a = {'a' : "Apple" , 'b' : "bat"}

print('a')

print(a['a'])       # key will be used to access the vlue of the Key: Value Pair

print(a['b'])

a
Apple
bat

# Conversion between data types

- we can use the Python functions like int(), float(), str() etc, to convert one data type to another data type for a variable

In [49]:
float(10)          # function float() will change the data type for 10 a from int to float

10.0

In [50]:
str(20)

'20'

- Conversion to and from strings must contain compatible values.

In [51]:
int('10')

10

In [52]:
int('10p')                # will through an error

ValueError: invalid literal for int() with base 10: '10p'

- example use case for using data types

In [56]:
user = "Sathish"
lines = 100

print("Congratulations " + user + " for completing " + str(lines) + " lines of code today.")  

#strings can be combined only with strings. If you remove the str() function in above code, it will give an error.

Congratulations Sathish for completing 100 lines of code today.

## We can convert one sequence type to another

- e.g. from a list can be converted to a set and visa versa.

In [57]:
a = [1, 2, 3]

print(type(a))                     # a is of type List

s = set(a)                    # a converted into a swt and saved as s

print(type(s))               # type of s is now set

<class 'list'>
<class 'set'>

In [58]:
list("Hello")              # converts the string "Hello" into a list

['H', 'e', 'l', 'l', 'o']